# Node modules
node_modules/

# Build directories
dist/
build/
public/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db